<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Pedido</th>
            <th scope="col">Cliente</th>
            <th scope="col">Hora</th>
            <th scope="col">Data</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos let i=index" >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ pedido?.itens?.length }}</td>
            <td>{{ pedido.nomeCliente }}</td>
            <td>{{ pedido.data | date: 'HH:mm' }}</td>
            <td>{{ pedido.data | date: 'dd-MM-yyyy' }}</td>                        
            <td class="action" (click)="changeStatus(pedido.id, !pedido.finalizado)" [style.color]="pedido.finalizado? 'green': 'red'">{{ pedido.finalizado ? '✓' : '✗' }}</td>
        </tr>
    </tbody>
</table>
