<model-template>
    <div>
        <h1>Dashboard</h1>
        <hr>
        <div><label>Dashboard /</label><label class="text-info">Meu Dashboard</label></div>
        <div class="row">
            <div class="col-md-6 text-info my-auto text-center">
                <h2>{{ calcularPedidosCompletosHoje() }}</h2>
                <div>PEDIDOS COMPLETADOS HOJE</div>                
            </div>  
            <div class="col-md-5">
                <chart-status-pedindg></chart-status-pedindg>
            </div>   
            <div class="col-md-5">
                <chart-quantidade></chart-quantidade>
            </div>            
            <div class="col-md-5 text-info my-auto">
                <h4 class="mb-3">{{ calcularTotalGanhoHoje() | currency : 'R$ ' }} - VALOR GANHO HOJE</h4>
                <h4 class="text-success">{{ totalGanho() | currency : 'R$ ' }} - VALOR TOTAL GANHO MÊS</h4>                
            </div>                           
        </div>
    </div>    
</model-template>