<model-template>
    <h1>Minha padaria Online</h1>
    <hr>
    <div class="bg-warning mb-4 p-3 text-white rounded bv-background">
        <div class="row mb-2">
            <div class="col-8 col-md-9">
                <div class="h1">BEM VINDO DE VOLTA!</div>

            </div>
            <div class="col-4 col-md-3">
                <img src="/assets/paes-icon.png" class="bv-icon" style="margin-top:-40px;width: 100px;">
            </div>
        </div>
        <div class="text-bv">Vamos começar?</div>
        <div class="text-bv">Acesse os pedidos na barra de navegação ao lado</div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <label>Configura Mensagens para melhor experiência do seu cliente.</label>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" [routerLink]="['/configmessages']">Configurar Mensagens</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <label>Relatório da Padaria</label>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" [routerLink]="['/dashboard']">Ver Relatório</button>
        </div>
    </div>
</model-template>